.highlight{
    color:lightgreen;
}
.red{
    color:orange;
}
.grey{
    color:grey;
}

body{
    background-image: linear-gradient(to right,#2E3192, #1BFFFF);
    height:100vh;
}

#game-area{
    background-color: rgba(0,0,0,0.5);
}
.fist{
    transform: scaleX(-1);
    rotate: 90deg;
}